<!-- home.html.erb -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="html/css" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="script.js"></script>
</head>	
<body class="most" data-speed="10" data-type="background">
<!-- header	 -->
<!-- <div class="most" data-speed="10" data-type="background"> -->
	<header class="container">
	  <div class="row">
	  	<div class="col-lg-12 small top">
	     <span class="login">Login</span>
	     <span class="login">Register</span>    
	    </div>
	  </div>
	</header> 

	<!-- body -->
	<article class="container">
	  <div class="row">
		<div class="col-sm-3">
		 <!-- padding -->
		</div>
		<div class="col-sm-6 logo">
			<h1 class="go">GO FOR IT</h1>
			<h2 class="ex">a community to get you there<h2>
				button
		</div>
		<div class="col-lg-3">
		 <!-- padding -->
		</div>
	  </div>
	</article>

	<!-- featured blogs -->
	<article class="container body">
	  <div class="row">
		<div class="col-sm-3 blog">
			<!-- blog example 1 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 2 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 3 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 4 -->
		</div>
	  </div>
	</article>

	<article class="container body">
	  <div class="row">
		<div class="col-sm-3 blog">
			<!-- blog example 1 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 2 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 3 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 4 -->
		</div>
	  </div>
	</article>

		<article class="container body">
	  <div class="row">
		<div class="col-sm-3 blog">
			<!-- blog example 1 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 2 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 3 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 4 -->
		</div>
	  </div>
	</article>

	<!-- mission -->
<div class="miss" data-speed="4" data-type="">
	<article class="container mission">
		<div class="row">
			<div class="col-sm-12 misdiv">
				<p class="mission">Some cool text about setting goals and stuff.</p>
			</div>
		</div>
	</article>
</div>

		<article class="container body">
	  <div class="row">
		<div class="col-sm-3 blog">
			<!-- blog example 1 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 2 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 3 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 4 -->
		</div>
	  </div>
	</article>

		<article class="container body">
	  <div class="row">
		<div class="col-sm-3 blog">
			<!-- blog example 1 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 2 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 3 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 4 -->
		</div>
	  </div>
	</article>

	<div class="miss" data-speed="4" data-type="">
	<article class="container mission">
		<div class="row">
			<div class="col-sm-12 misdiv">
				<p class="mission">Some cool text about setting goals and stuff.</p>
			</div>
		</div>
	</article>
</div>

		<article class="container body">
	  <div class="row">
		<div class="col-sm-3 blog">
			<!-- blog example 1 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 2 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 3 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 4 -->
		</div>
	  </div>
		</article>

		<article class="container body">
	  <div class="row">
		<div class="col-sm-3 blog">
			<!-- blog example 1 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 2 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 3 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 4 -->
		</div>
	  </div>
		</article>

		<article class="container body">
	  <div class="row">
		<div class="col-sm-3 blog">
			<!-- blog example 1 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 2 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 3 -->
		</div>
		<div class="col-sm-3 blog">
			<!-- blog example 4 -->
		</div>
	  </div>
		</article>





</body>
</html>	